{% extends "../layouts/base.twig" %}

{% block main %}
    <p>{{error}}</p>
	<h1>Dashboard</h1>
	<section>
		{% if user.books|length > 0 %}
            {% for book in user.books %}
                <article>
                    <h2>Titre: {{book.title}}</h2>
                    <p>Auteur: {{book.author}}</p>
                    <div>
                        <a href="/updatebook/{{book.id}}">Modifier</a>
                        <a href="/deletebook/{{book.id}}">Supprimer</a>
                    </div>
                    {% if book.image %}
                    <img src="{{book.image}}" alt="image de {{book.title}}" width="120"> 
                    {% endif %}
                    

                </article>

            {% endfor %}

		{% else %}
				<p>Aucun livre dispo</p>
		{% endif %}
	</section>

{% endblock %}

{# si on a des livre on les affiche #}
{# sinon on affiche pas de livre dispo #}
